
.card{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 5%;
    padding: 5%;
    box-shadow: 2px 1px 5px var(--device-item-card-shadow);
}

.space_image{
    width:100%;
    padding-top:100%;
    overflow: visible;
    position: relative;
}

.image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    padding: 1%;
    max-width: fit-content;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(1,1,1,50%);
    margin-top: 1%;
}

.rating{
    display: flex;
}

.image_rating_star{
    margin-top: 20%;
}

.name_device{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    height: 3rem;
}

.card_price{
    margin: 1%;
}