
.header{
    background-color: var(--modal-window-header-color);
    color: var(--modal-window-header-color-text);
}

.body{
    background-color: var(--modal-window-body-color);
}

.footer{
    background-color: var(--modal-window-footer-color);
}

