.basketDeviceItem{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

.basketDeviceItem_data{
    width:100%;
    padding: 1%;
    
}

.basketDeviceItem_data_col1{

}

.basketDeviceItem_data_col1_image{
    display: block;
    height: auto;
    max-width: 100%;
    max-width: 120px;
    width: auto;
    cursor: pointer;
}

.basketDeviceItem_data_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.basketDeviceItem_data_amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.basketDeviceItem_data_amount_ind{
    width: 40px;
    text-align: center;
}

.basketDeviceItem_data_price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}