.basketSpace{
    margin-block-start: 3%;
}

.basket_title{
    padding-top: 2%;
}

.basketSpace_next{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

}