.basketDeviceItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.basketDeviceItem_cadr{
    padding: 1rem;
    width: 1000px;
    justify-content: space-between;
}

.basketDeviceItem_cadr_space{
    width:100%;
    padding: 7%;
    overflow: visible;
    position: relative;
    margin: 1%;
}

.basketDeviceItem_cadr_img{
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height: 100%;
    max-width: fit-content;
    cursor: pointer;
}