.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2%;
}

.card_item {
  margin-top: 5%;
  cursor: pointer;

  padding-top: 5%;
  padding-bottom: 5%;
  
}
