.cl-btn-7 {
    width: 31px;
    height: 31px;
    border-radius: 35px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: rgb(13,110,253);
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -12px;
    left: 2px;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(13,110,253);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

.custom_btn_disable{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: context-menu;
    border: 1px solid rgb(149, 191, 255);
    color: white;
    background-color: rgba(13, 109, 253, 0.503);
}

.custom_btn{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 1px solid rgb(13,110,253);
    color: white;
    background-color: rgb(13,110,253);
    transition: 0.1s linear;
}

.custom_btn:active{
    background-color: rgb(1, 70, 174);
}


