

.card_device_list{
    justify-content: center;
    cursor:context-menu;
    width: auto;
    margin-top: 5%;
}

.card_device_list_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(1,1,1,50%);
    margin-top: 1%;
}

.card_device_list_info_rating{
    display: flex;
}

.card_device_list_info_rating_star{
    margin-top: 10%;
}