

.card_device_list{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 5%;
    padding: 5%;
    box-shadow: 2px 1px 5px rgb(218, 217, 217);
}

.card_device_list_space{
    width:100%;
    padding-top:100%;
    overflow: visible;
    position: relative;
}

.card_device_list_space_img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    padding: 1%;
    max-width: fit-content;
}

.card_device_list_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(1,1,1,50%);
    margin-top: 1%;
}

.card_device_list_info_rating{
    display: flex;
}

.card_device_list_info_rating_star{
    margin-top: 20%;
}

.deviceItem_nameDevice{
    display: flex;
    justify-content: start;
    align-items:flex-start;
    height: 3rem;
}